In [26]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [37]:
df_train = pd.read_csv('../data/training_data.csv', low_memory=False)
df_macro = pd.read_csv('../data/macro_data.csv')

In [36]:
df_train.sort_values('mth_code')

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
126314,1.0,T,0,0,A,1.0,761+,NaN,17,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201801,201801,C
290839,1.0,I,0,1,A,1.0,761+,NaN,38,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201801,201801,B
97035,0.0,P,0,0,A,0.0,621-640,NaN,17,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201801,201801,B
77680,0.0,P,0,0,A,1.0,761+,NaN,20,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201801,201801,B
216092,1.0,P,0,0,A,0.0,681-700,NaN,25,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201801,201801,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430572,1.0,I,0,0,A,1.0,701-720,NaN,139,1.0,...,0.0,0.0,0.0,0.0,4043.34,0.0,0.0,201804,201912,A
3443777,1.0,T,1,0,A,1.0,721-740,NaN,120,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201810,201912,C
5180805,0.0,P,0,0,I 7-12,1.0,Missing,NaN,23,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201905,201912,B
5180812,1.0,R,0,0,A,1.0,641-660,NaN,20,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201905,201912,B
5758222,0.0,I,1,1,A,0.0,761+,NaN,62,1.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201912,201912,B

In [31]:
df_train

In [4]:
df_train_imp_x = df_train[
    ['financial_active',
     'bank_fico_buckets_20',
     'mob',
     'nbr_mths_due',
     'variable_rate_margin',
     'mth_code',
     
     
     
    ]
]

df_train_imp_y = df_train[
    ['charge_off',
     'charge_off_aged',
     'charge_off_bk',
     
     
    ]
]

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5758218,0.0,T,1,0,A,1.0,641-660,NaN,41,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,A
5758219,1.0,I,1,0,A,1.0,701-720,NaN,47,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,C
5758220,1.0,R,1,0,I 0-6,1.0,741-760,NaN,34,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,B
5758221,0.0,T,1,0,Recovery,1.0,681-700,NaN,50,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,B
5758222,0.0,I,1,1,A,0.0,761+,NaN,62,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,B

In [27]:
df_train.head()

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [21]:
accuracies = []
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(df_train_imp_x, df_train_imp_y, test_size=0.1)
    clf = RandomForestClassifier(max_depth=50)
    clf.fit(X_train, y_train)
    acc = clf.score(X-test, y_test)
    accuracies.append(acc)

0            0
1            0
2            0
3            0
4            0
          ...
5758218    111
5758219    111
5758220    111
5758221    111
5758222    111
Name: snapshot, Length: 5758223, dtype: int64